<!DOCTYPE html>
<html lang="es" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje</title>
</head>
<body style="color: #333; font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6; margin: 0; padding: 0;" bgcolor="#F4F4F4">
    <div style="background-color: #FFFFFF; width: 90%; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); margin: 5px auto; padding: 5px;">
        <h1  style="background-color:rgb(49, 46, 46); padding:10px;" align="center">
            <a href="https://www.compras-sca.online/" target="_blank" style="color: white;">
              <img style="max-height: 60px; margin-right: 8px;" src="https://compras-sca.online/favicon.ico" alt="" >compras-sca.online</a>
        </h1>
        <p style="margin: 10px 0;" align="justify">Estimado/a <strong>{{ nombre | upper }}</strong>,</p>
            <p style="margin: 10px 0;" align="justify"></p>
            <div style="background-color: #3498db; color: #FFFFFF; border-radius: 5px; font-weight: bold; padding: 15px;" align="center">
                  <p style="margin: 10px 0;" align="justify"><strong> {{ mensaje | raw }}</strong></p>
            </div>
        <br> <br>

        <div style="color: #666; background-color: #f9f9f9; border-top-width: 3px; border-top-color: #ddd; border-top-style: solid; font-size: 12px; border-radius: 0 0 8px 8px; padding: 15px;" align="center">
 
        </div>
    </div>
</body>
</html>
