{# Siarme\GeneralBundle\Resources\views\ItemSolicitado\_menu_acciones_item.html.twig #}
      <a data-href="{{ path('itemsolicitado_estado', { 'id': itemSolicitado.id }) }}" class="btn-estado-item" role="button">
          {% if itemSolicitado.estado %}<span class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% else %}<span class="glyphicon glyphicon-unchecked text-warning" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% endif %} </a>
   {# 
    &nbsp;
    <a  data-href="{{ path('itemsolicitado_eliminar', { 'id': itemSolicitado.id }) }}" class="btn-eliminar-item" role="button" ><span class="glyphicon glyphicon-trash text-danger"></span></a>
    #}