{# Siarme\ExpedienteBundle\Resources\views\Expediente\modal_edit.html.twig #}

{{ form_start(form,  {'action': path('itemacuerdomarco_new', {'id': itemAcuerdo.expediente.id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
          <div class="text-right">
            <input class="btn btn-danger" onclick= "return confirm('¿Desea GUARDAR?');" type="submit" value="GUARDAR"/>
          </div>
{{ form_end(form) }}
