{# Siarme\AusentismoBundle\Resources\views\ItemPedido\modal_new.html.twig #}
{{ form_start(form,  {'action': path('planificacion_new', {'id': tramite.id}), 'method': 'POST'}) }}
{{ form_widget(form) }}
          <div class="text-right">
            <input class="btn btn-danger" type="submit" value="GUARDAR"/>
          </div>
{{ form_end(form) }}
<script type="text/javascript">
             $("#siarme_expedientebundle_planificacion_importe").change(function() {
              let str = $(this).val();
              str = str.replace("$", "");
              str = str.replace(".", "");
              str = str.replace(".", "");
              str = str.replace(".", "");
              str = str.trim();
              $("#siarme_expedientebundle_planificacion_importe").val(str);
            });
</script>